.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.form {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input {
	padding: 10px;
	background-color: transparent;
	border: 2px solid #bbb;
	color: #bbb;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	transition: all .6s ease;
}

.input:hover {
	border: 2px solid #419f70;
}

.input:focus {
	transform: scale(1.04);
	border: 2px solid #419f70;
}

.button {
	width: 300px;
	padding: 10px;
	cursor: pointer;
	background-color: #419f70;
	border: none;
	border-radius: 5px;
	color: #eee;
	font-weight: bold;
	transition: all .6s ease;
	text-transform: uppercase;

}

.button:hover {
	background-color: #2d714f;
	transform: scale(1.02);
}

.title {
	font-size: 38px;
}

.subtitle {
	font-size: 18px;
	margin-bottom: 20px;
	color: #77977f;
	font-weight: 400;
	margin-top: -16px;
}

.link{
	font-weight: 600;
	margin-top: -6px;
	transition: all .6s ease;
}

.link:hover{
	color: #47c184;
	transform: scale(1.08);
	font-weight: 700;
}